/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
}

/* Add this to your CSS file */
.navbar-nav .nav-link.active {
    color: white; /* Set the active link color to white */
  }
  

.app-container {
  /* background-image: url("./img/toothlesdance.gif"); */
  background-size: cover;
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-position: center;
  min-height: 100vh;
}

.other-container {
    background-size: cover;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-position: center;
    color: white;
    min-height: 100vh;
  }

/* Home.css */
.home-container {
  padding: 20px;
}

.home-content {
  color: white; /* Set text color to white for better readability */
}

.gradient-text {
  background: linear-gradient(45deg, orange, rgb(179, 178, 178));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Adjust the body and root elements to utilize flexbox */
body,
html,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Style for the main content */
.main-content {
  flex: 1; /* This allows it to take up remaining vertical space */
}

.footer {
  width: 100%;
  /* background-color: #f8f9fa; Adjust background color as needed */
  color: white;
  padding: 20px 0; /* Add padding for spacing */
  /* Optionally, add more styling as needed */
}


