/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  color: black;
}

/* Add this to your CSS file */
.navbar-nav .nav-link.active {
    color: white; /* Set the active link color to white */
  }
  

.app-container {
  /* background-image: url("./img/toothlesdance.gif"); */
  background-size: cover;
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-position: center;
  min-height: 100vh;
}

.other-container {
    background-size: cover;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-position: center;
    color: white;
    min-height: 100vh;
  }

/* Home.css */
.home-container {
  padding: 20px;
}

.home-content {
  color: white; /* Set text color to white for better readability */
}

.gradient-text {
  background: linear-gradient(45deg, orange, rgb(179, 178, 178));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Adjust the body and root elements to utilize flexbox */
body,
html,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Style for the main content */
.main-content {
  flex: 1; /* This allows it to take up remaining vertical space */
}

.footer {
  width: 100%;
  /* background-color: #f8f9fa; Adjust background color as needed */
  color: white;
  padding: 20px 0; /* Add padding for spacing */
  /* Optionally, add more styling as needed */
}

.bg-gradient-primary-to-secondary {
  background: #f7941d; /* Old: #1e30f3 */
  background: linear-gradient(135deg, #f7941d 0%, #ffc20e 100%); /* Old: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%) */
}

.text-gradient {
  background: -webkit-linear-gradient(315deg, #f7941d 0%, #ffc20e 100%); /* Old: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%) */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.rounded-4 {
border-radius: 1rem !important;
}

.feature {
display: inline-flex;
align-items: center;
justify-content: center;
height: 3rem;
width: 3rem;
font-size: 1.5rem;
}

.profile {
position: relative;
height: 75vw;
width: 75vw;
border-radius: 5vw;
margin-top: 5vw;
max-height: 40rem;
max-width: 40rem;
}
.profile .profile-img {
height: 80vw;
max-height: 45rem;
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
}
.profile .dots-1 {
position: absolute;
width: 3vw;
right: 1.5vw;
top: 4vw;
}
.profile .dots-1 svg {
fill: #fff;
}
.profile .dots-2 {
position: absolute;
width: 3vw;
right: -4vw;
top: 6.05vw;
}
.profile .dots-2 svg {
fill: #1e30f3;
}
.profile .dots-3 {
position: absolute;
width: 3vw;
left: 1.5vw;
bottom: 6.05vw;
}
.profile .dots-3 svg {
fill: #fff;
}
.profile .dots-4 {
position: absolute;
width: 3vw;
left: -4vw;
bottom: 4vw;
}
.profile .dots-4 svg {
fill: #1e30f3;
}

@media (min-width: 576px) {
.profile {
  height: 60vw;
  width: 60vw;
}
.profile .profile-img {
  height: 65vw;
}
.profile .dots-1 {
  width: 3vw;
  right: 1.5vw;
}
.profile .dots-2 {
  width: 3vw;
  right: -4vw;
}
.profile .dots-3 {
  width: 3vw;
  left: 1.5vw;
}
.profile .dots-4 {
  width: 3vw;
  left: -4vw;
}
}
@media (min-width: 768px) {
.profile {
  height: 50vw;
  width: 50vw;
}
.profile .profile-img {
  height: 55vw;
}
.profile .dots-1 {
  width: 3vw;
  right: 1.5vw;
}
.profile .dots-2 {
  width: 3vw;
  right: -4vw;
}
.profile .dots-3 {
  width: 3vw;
  left: 1.5vw;
}
.profile .dots-4 {
  width: 3vw;
  left: -4vw;
}
}
@media (min-width: 992px) {
.profile {
  height: 40vw;
  width: 40vw;
}
.profile .profile-img {
  height: 45vw;
}
.profile .dots-1 {
  width: 1.5vw;
  right: 0.75vw;
}
.profile .dots-2 {
  width: 1.5vw;
  right: -2vw;
}
.profile .dots-3 {
  width: 1.5vw;
  left: 0.75vw;
}
.profile .dots-4 {
  width: 1.5vw;
  left: -2vw;
}
}
@media (min-width: 1200px) {
.profile {
  height: 35vw;
  width: 35vw;
}
.profile .profile-img {
  height: 40vw;
}
.profile .dots-1 {
  width: 1.5vw;
  right: 0.75vw;
}
.profile .dots-2 {
  width: 1.5vw;
  right: -2vw;
}
.profile .dots-3 {
  width: 1.5vw;
  left: 0.75vw;
}
.profile .dots-4 {
  width: 1.5vw;
  left: -2vw;
}
}


